.tech-icon {
  font-size: 50px;
}

.icon-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#star-icon {
  border-radius: 175px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.link-to {
  border-bottom: none;
}

#footer-flex-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
  width: 250px;
}

#github-circle {
  padding-left: 60px;
}


