.tech-icon {
  font-size: 50px;
}

.icon-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#star-icon {
  border-radius: 175px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.link-to {
  border-bottom: none;
}

.thumbnail {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

#air {
  border: 3px solid rgba(239, 169, 176, 0.6);
  border-radius: 5px;
}

#aperture {
  border: 3px solid rgba(133, 112, 192, 0.5);
  border-radius: 5px;
}

#recipe {
  border: 3px solid rgba(140, 202, 240, 0.82);
  border-radius: 5px;
}

#footer-flex-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
  width: 250px;
}

#github-circle {
  padding-left: 60px;
}

#ex {
  font-size: 50px;
  /* font-weight: bold; */
  /* border: 1px solid white; */
  margin: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


